* {
    box-sizing: border-box;
}

body {
    background: #5a629f; 
    margin: 0;
    padding: 0;
    height: 100%;

}

html,
body,
#root
.container{
    height: 100%;
    display: flex;
    justify-self: center;
}
.loader{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
}