.muvie {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px;
    padding-top: 70px;
    width:80% ;

}

.muvies .muvie {
    display: flex;
    width: 100%;
    background-color: wheat;
    align-items: flex-start; 
    margin-bottom: 50px;
    justify-content: space-between;
    font-weight: 300; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 13px 17px -5px rgba(50, 50, 93, 0,25),
    0 8px 16px -8px rgba(0, 0, 0, 0,3), 0 -6px 16px -6px rgba(0, 0, 0, 0,25) ;

}
.muvie img {
    position: relative;
    max-width: 200px;
    top: -20px;
    margin-right:50px;
    box-shadow: 0 13px 17px -5px rgba(50, 50, 93, 0,25),
    0 8px 16px -8px rgba(0, 0, 0, 0,3), 0 -6px 16px -6px rgba(0, 0, 0, 0,25) ;

}
.muvie .muvie_title,
.muvie .muvie_year {
    font-weight: 300;
    margin: 0;

}
.muvie .muvie_title {
    margin-bottom: 5px;
    font-size: 17px;
    color:#2c2c2c;

}
.muvie .muvie_genres{
    list-style: none;
    padding:0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.muvie .muvie_genres li,
.muvie .muvie_year{
    font-size: 15px;
    margin-right: 10px;
}